*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.box{
  width: calc(100% -30px);
  height: 550px;
  /* border: 1px solid red; */
  position: relative;
  z-index: 0;
  background-position: center;
  background-size: cover;
  margin: 15px;
  border-radius: 30px;
}

.layover{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 30px;

}

.citta{
  font-family: 'Potta One', cursive;
  font-size: 50px;
  /* border: 1px solid blue; */
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-shadow: 2px 2px #009dff;

}

.box:hover .layover{
  background: none;
}

.box:hover .citta{
  text-shadow: 5px 5px green;
}

.citta:hover{
  color: red;
  background-color: orange;
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
}

#las-vegas{
  background-image: url("../img/las-vegas.jpg");
}

#miami{
  background-image: url(../img/miami.jpg);
}

#new-york{
  background-image: url(../img/new-york.jpg);
}
